{{ with .Site.Data.works }}
<section id="work">
  <div class="container">
    <div class="row col-md-10 mb-0">
      <h2 class="mb-5" style="line-height: 1.4">Selected Works</h2>

      {{ range . }}
      <div class="row mb-5 flex-column flex-md-row slide">
        <div class="col-md-4 mb-3 mb-md-0 mt-2">
          <img src="{{ .logo }}" alt="logo" class="me-2 mb-4" height="20" />
          <h3 class="card-text">{{ .title }}</h3>
          <p class="card-text">{{ .description | safeHTML }}</p>
          <div class="d-flex gap-2 mt-4">
            <button type="button" class="btn btn-dark disabled opacity-25">
              View work
            </button>
            <a
              href="{{ .site }}"
              class="btn btn-outline-dark"
              role="button"
              target="_blank"
            >
              Site <i class="bi bi-box-arrow-up-right"></i>
            </a>
          </div>
        </div>
        <div class="col-md-8">
          <img
            src="{{ .image }}"
            alt="image"
            class="w-100"
            style="border-radius: 16px"
          />
        </div>
      </div>
      {{ end }}
    </div>
  </div>
</section>
{{ else }}
<p>No works found</p>
{{ end }}
