{{ $dam := .Scratch.Get "dam" }}

<section>
  <div class="container">
    <div class="col-md-10 mb-md-5 mb-0">
      <div class="mb-5">
        <h1 style="line-height: 1.4">What colleagues have said</h1>
      </div>
      <div class="swiper-container slide">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="card h-100 d-flex flex-column">
              <img
                src="https://res.cloudinary.com/hazelsuh-site/image/upload/v1732589218/cld-sample-2.jpg"
                class="card-img-top"
                alt="quote-image"
              />
              <div class="card-body d-flex flex-column flex-grow-1">
                <img
                  src="https://res.cloudinary.com/hazelsuh-site/image/upload/v1732676423/5stars_g27oud.svg"
                  class="mb-3"
                  alt="rating"
                  style="width: 100px"
                />
                <p class="card-text flex-grow-1">
                  Hazel is one of the most talented designers and design leaders
                  I've known in my 20 year career as a designer.

                  <span class="fw-semibold"
                    >He is incredibly versatile and knowledgable and has super
                    strong communication and story telling skills.</span
                  >

                  He is one of the rare designers that excels at everything -
                  leadership, visual design, story-telling and interaction
                  design.
                </p>
                <div class="d-flex align-items-center mt-auto">
                  <img
                    src="https://res.cloudinary.com/hazelsuh-site/image/upload/v1732589218/cld-sample-2.jpg"
                    class="card-img-top me-2 align-self-center"
                    style="
                      width: auto;
                      height: 32px;
                      background-color: #fff;
                      border-radius: 16px;
                    "
                    alt="logo"
                  />
                  <p class="m-0">
                    <span class="fw-semibold">Product Designer, Shopify</span>
                    <span class="text-muted">Teri Hason</span>
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="card h-100 d-flex flex-column">
              <img
                src="https://res.cloudinary.com/hazelsuh-site/image/upload/v1732589218/cld-sample-2.jpg"
                class="card-img-top"
                alt="quote-image"
              />
              <div class="card-body d-flex flex-column flex-grow-1">
                <img
                  src="https://res.cloudinary.com/hazelsuh-site/image/upload/v1732676423/5stars_g27oud.svg"
                  class="mb-3"
                  alt="rating"
                  style="width: 100px"
                />
                <p class="card-text flex-grow-1">
                  Hazel is one of the most talented designers and design leaders
                  I've known in my 20 year career as a designer.
                  <span class="fw-semibold"
                    >He is incredibly versatile and knowledgable and has super
                    strong communication and story telling skills.</span
                  >
                  He is one of the rare designers that excels at everything -
                  leadership, visual design, story-telling and interaction
                  design.
                </p>
                <div class="d-flex align-items-center mt-auto">
                  <img
                    src="https://res.cloudinary.com/hazelsuh-site/image/upload/v1732589218/cld-sample-2.jpg"
                    class="card-img-top p-2 me-2 align-self-center"
                    style="
                      width: auto;
                      height: 32px;
                      background-color: #fff;
                      border-radius: 16px;
                    "
                    alt="logo"
                  />
                  <p class="m-0">
                    <span class="fw-semibold">Product Designer, Shopify</span>
                    <span class="text-muted">Teri Hason</span>
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="card h-100 d-flex flex-column">
              <img
                src="https://res.cloudinary.com/hazelsuh-site/image/upload/v1732589218/cld-sample-2.jpg"
                class="card-img-top"
                alt="quote-image"
              />
              <div class="card-body d-flex flex-column flex-grow-1">
                <img
                  src="https://res.cloudinary.com/hazelsuh-site/image/upload/v1732676423/5stars_g27oud.svg"
                  class="mb-3"
                  alt="rating"
                  style="width: 100px"
                />
                <p class="card-text flex-grow-1">
                  Hazel is one of the most talented designers and design leaders
                  I've known in my 20 year career as a designer.
                  <span class="fw-semibold"
                    >He is incredibly versatile and knowledgable and has super
                    strong communication and story telling skills.</span
                  >
                  He is one of the rare designers that excels at everything -
                  leadership, visual design, story-telling and interaction
                  design.
                </p>
                <div class="d-flex align-items-center mt-auto">
                  <img
                    src="https://res.cloudinary.com/hazelsuh-site/image/upload/v1732589218/cld-sample-2.jpg"
                    class="card-img-top p-2 me-2 align-self-center"
                    style="
                      width: auto;
                      height: 32px;
                      background-color: #fff;
                      border-radius: 16px;
                    "
                    alt="logo"
                  />
                  <p class="m-0">
                    <span class="fw-semibold">Product Designer, Shopify</span>
                    <span class="text-muted">Teri Hason</span>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- 슬라이드 네비게이션 버튼 -->
        <div class="swiper-button-next" id="testimonial-button-next"></div>
        <div class="swiper-button-prev" id="testimonial-button-prev"></div>
      </div>
    </div>
  </div>
</section>
