@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700");
:root {
  --bs-primary: #5057ff;
  --bs-primary-bg-subtle: #4d7fff;
  --bs-primary-border-subtle: #4d7fff;
  --bs-primary-dark: #2420e0;
  --color-bg1: rgb(26, 28, 31);
  --color-bg2: rgb(26, 28, 31);
  --color1: 161, 176, 248;
  --color2: 167, 210, 250;
  --color3: 184, 213, 243;
  --color4: 173, 214, 254;
  --color5: 124, 178, 249;
  --color-interactive: 173, 184, 249;
  --circle-size: 80%;
  --blending: hard-light;
}
body {
  font-family: "Pretendard", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif;
  word-wrap: break-word;
  word-break: keep-all;
  overflow-wrap: break-word;
  line-height: 1.4;
  color: #333;
  /* background-color: #d4d2d0; */
}
/* .bg-body-tertiary {
  background-color: #bfbcba !important;
} */
.herocard {
  position: absolute;
  z-index: 10;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  user-select: none;
  overflow: hidden;
  .content {
    position: relative;
    z-index: 2;
  }
}
.hero {
  position: relative;
  margin: 0;
  padding: 0;
  width: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #333;
}
.hero video {
  position: absolute;
  top: 73%;
  left: 80%;
  transform: translate(-50%, -50%);
  object-fit: cover;
  width: 60%; /* Adjust the width as needed */
  height: auto;
  clip-path: inset(0 0 100px 0);
  z-index: -1;
  /* filter: invert(1); */
  /* opacity: 0.7; */
}
.hero .content {
  z-index: 1;
  padding: 220px 0 160px;
}
.bg-primary {
  background-color: var(--bs-primary) !important;
}
.btn-primary {
  background-color: var(--bs-primary) !important;
  border-color: var(--bs-primary) !important;
}
.btn-primary:hover {
  background-color: var(--bs-primary-dark) !important;
  border-color: var(--bs-primary-dark) !important;
}
.btn-outline-primary {
  border-color: var(--bs-primary) !important;
  color: var(--bs-primary) !important;
}
.btn-outline-primary:hover {
  background-color: var(--bs-primary) !important;
  border-color: var(--bs-primary) !important;
  color: white !important;
}
.btn-light {
  background-color: #fff;
  border: 1px solid #e4e7ec;
  color: #3b443f;
}
.btn-light:hover {
  background-color: #eaedf2;
  border: 1px solid #dce0e5;
}
.btn-lg {
  font-size: 1.1rem;
  font-weight: 600;
  padding: 0.75rem 1.5rem;
}
.text-primary {
  color: var(--bs-primary) !important;
}

@keyframes moveInCircle {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes moveVertical {
  0% {
    transform: translateY(-50%);
  }
  50% {
    transform: translateY(50%);
  }
  100% {
    transform: translateY(-50%);
  }
}

@keyframes moveHorizontal {
  0% {
    transform: translateX(-50%) translateY(-10%);
  }
  50% {
    transform: translateX(50%) translateY(10%);
  }
  100% {
    transform: translateX(-50%) translateY(-10%);
  }
}

.gradient-bg {
  width: 100vw;
  height: 90vh;
  position: relative;
  overflow: hidden;
  background: linear-gradient(40deg, var(--color-bg1), var(--color-bg2));
  top: 0;
  left: 0;

  .gradients-container {
    filter: url(#goo) blur(40px);
    width: 100%;
    height: 100%;
  }

  .g1 {
    position: absolute;
    background: radial-gradient(
        circle at center,
        rgba(var(--color1), 0.8) 0,
        rgba(var(--color1), 0) 50%
      )
      no-repeat;
    mix-blend-mode: var(--blending);

    width: var(--circle-size);
    height: var(--circle-size);
    top: calc(50% - var(--circle-size) / 2);
    left: calc(50% - var(--circle-size) / 2);

    transform-origin: center center;
    animation: moveVertical 30s ease infinite;

    opacity: 1;
  }

  .g2 {
    position: absolute;
    background: radial-gradient(
        circle at center,
        rgba(var(--color2), 0.8) 0,
        rgba(var(--color2), 0) 50%
      )
      no-repeat;
    mix-blend-mode: var(--blending);

    width: var(--circle-size);
    height: var(--circle-size);
    top: calc(50% - var(--circle-size) / 2);
    left: calc(50% - var(--circle-size) / 2);

    transform-origin: calc(50% - 400px);
    animation: moveInCircle 20s reverse infinite;

    opacity: 1;
  }

  .g3 {
    position: absolute;
    background: radial-gradient(
        circle at center,
        rgba(var(--color3), 0.8) 0,
        rgba(var(--color3), 0) 50%
      )
      no-repeat;
    mix-blend-mode: var(--blending);

    width: var(--circle-size);
    height: var(--circle-size);
    top: calc(50% - var(--circle-size) / 2 + 200px);
    left: calc(50% - var(--circle-size) / 2 - 500px);

    transform-origin: calc(50% + 400px);
    animation: moveInCircle 40s linear infinite;

    opacity: 1;
  }

  .g4 {
    position: absolute;
    background: radial-gradient(
        circle at center,
        rgba(var(--color4), 0.8) 0,
        rgba(var(--color4), 0) 50%
      )
      no-repeat;
    mix-blend-mode: var(--blending);

    width: var(--circle-size);
    height: var(--circle-size);
    top: calc(50% - var(--circle-size) / 2);
    left: calc(50% - var(--circle-size) / 2);

    transform-origin: calc(50% - 200px);
    animation: moveHorizontal 40s ease infinite;

    opacity: 0.7;
  }

  .g5 {
    position: absolute;
    background: radial-gradient(
        circle at center,
        rgba(var(--color5), 0.8) 0,
        rgba(var(--color5), 0) 50%
      )
      no-repeat;
    mix-blend-mode: var(--blending);

    width: calc(var(--circle-size) * 2);
    height: calc(var(--circle-size) * 2);
    top: calc(50% - var(--circle-size));
    left: calc(50% - var(--circle-size));

    transform-origin: calc(50% - 800px) calc(50% + 200px);
    animation: moveInCircle 20s ease infinite;

    opacity: 1;
  }

  .interactive {
    position: absolute;
    background: radial-gradient(
        circle at center,
        rgba(var(--color-interactive), 0.8) 0,
        rgba(var(--color-interactive), 0) 50%
      )
      no-repeat;
    mix-blend-mode: var(--blending);

    width: 100%;
    height: 100%;
    top: -50%;
    left: -50%;

    opacity: 0.7;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-5%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
.animated-text-1 {
  animation: fadeIn 1s forwards;
  animation-delay: 0s;
}
.animated-text-2 {
  opacity: 0;
  animation: fadeIn 1s forwards;
  animation-delay: 0.5s;
}
.container {
  width: 1280px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
section + section:not([class^="bg-"]) {
  margin-top: 72px;
}

.navbar-toggler {
  border: 0px;
  padding: 6px;
}
.navbar-toggler-icon {
  width: 24px;
  height: 24px;
}
.nav-item {
  font-size: 14px;
}
.nav-link {
  color: #333;
}
.dropdown-item {
  font-size: 14px;
}
.section-background {
  background-image: none;
  color: black;
}
@media (min-width: 768px) {
  .section-background {
    background-image: url("https://res.cloudinary.com/zuzu-homepage/image/upload/v1732196286/iyu8mzpgqftmmnltwdji.png");
    color: inherit;
    background-size: cover;
    background-position: top;
  }
}
@media (min-width: 768px) {
  .top-title-section {
    padding: 180px 0 100px;
  }
}
@media (max-width: 767px) {
  .top-title-section {
    margin: 160px 0 80px !important;
  }
}
.background-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}
.sticky-banner {
  background-image: url(https://res.cloudinary.com/zuzu-homepage/image/upload/q_auto,f_auto/q_10,f_auto/yyfgfnlw1vnz4exwk6ii);
  background-size: cover;
}
.logo-slider-container {
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
}
.slider-content {
  display: inline-block;
  animation: scroll 35s linear infinite;
}
@media (min-width: 768px) {
  .logo-slide {
    display: inline-block;
    margin-right: 48px;
    height: 64px;
    width: auto;
  }
}
@media (max-width: 767px) {
  .logo-slide {
    display: inline-block;
    margin-right: 32px;
    height: 48px;
    width: auto;
  }
}
@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}
.link-primary {
  color: var(--bs-primary) !important;
}
.link-primary:hover {
  color: var(--bs-primary-dark) !important;
}
.card {
  border-radius: 1rem;
  background-color: #f4f5f7;
  border: none;

  img {
    border-radius: 1rem 1rem 0 0;
  }
}
.card-body {
  padding: 1.5rem;
}
.card-link {
  color: var(--bs-primary) !important;
}
.card-link:hover {
  color: var(--bs-primary-dark) !important;
}
.accordion-button:not(.collapsed) {
  background-color: white;
  color: black;
  font-weight: 600;
}
.accordion-item .accordion-collapse.show {
  background-color: #f4f5f7;
}
.accordion-item .accordion-collapse.show .accordion-body {
  background-color: #f4f5f7;
  color: black;
}
.swiper-container {
  width: 100%;
  overflow: hidden;
  position: relative;
}
.swiper-button-next,
.swiper-button-prev {
  color: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
}
.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 20px;
}
.swiper-button-next:hover,
.swiper-button-prev:hover {
  color: rgba(0, 0, 0, 0.8);
}
@media (min-width: 768px) {
  .swiper-button-next {
    right: 10px;
  }
  .swiper-button-prev {
    left: 10px;
  }
  .swiper-button-next,
  .swiper-button-prev {
    background-color: rgba(255, 255, 255, 0.7);
    color: rgba(0, 0, 0, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 30px;
    height: 30px;
  }
  .swiper-button-next::after,
  .swiper-button-prev::after {
    font-size: 16px;
  }
  .swiper-button-next:hover,
  .swiper-button-prev:hover {
    background-color: rgba(255, 255, 255, 0.9);
  }
}
@media (max-width: 767px) {
  .swiper-button-next {
    right: 0px;
  }
  .swiper-button-prev {
    left: 0px;
  }
  .sm-hide {
    display: none;
  }
}
.sm-only {
  display: none;
}
.lg-only {
  display: inline;
}
@media (max-width: 576px) {
  .sm-only {
    display: inline;
  }

  .lg-only {
    display: none;
  }
}
.footer-text {
  font-size: 0.8rem;
  color: #666;
}
.footer-term-wrapper {
  display: inline-grid;
  grid-template-columns: repeat(4, auto);
  grid-column-gap: 16px;
  -moz-column-gap: 16px;
  column-gap: 16px;
  grid-row-gap: 4px;
  row-gap: 4px;
  margin: 0;
  padding: 24px 0 30px;
  list-style: none;

  li {
    word-break: keep-all;
  }
}
.slide {
  transform: translateY(5%);
  opacity: 0;
  transition: transform 1.3s ease, opacity 1.3s ease;
}
.slide-in {
  transform: translateY(0);
  opacity: 1;
}

.logo-slider-container {
  position: relative;
}

.logo-slider-container::after {
  content: "";
  position: absolute;
  z-index: 1;
  width: 100px;
  height: 100%;
  background: linear-gradient(270deg, rgba(255, 255, 255, 0), white 100%);
  left: 0;
}

.logo-slider-container::before {
  content: "";
  position: absolute;
  z-index: 1;
  width: 100px;
  height: 100%;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0), white 100%);
  right: 0;
}
