{{ define "main" }}
<section>
  <div class="container">
    <div class="row col-md-10 mb-0 w-100">
      <div class="hero" style="height: 80vh">
        <video autoplay muted loop class="lg-only">
          <source
            src="https://res.cloudinary.com/hazelsuh-site/video/upload/v1733120778/newclayyy_p7famt.mp4"
            type="video/mp4"
          />
          Your browser does not support the video tag.
        </video>
        <div
          class="row col-md-10 content d-flex flex-column align-items-center justify-contents-center text-center"
        >
          <h5 class="animated-text-2 fw-normal mb-2 text-muted">
            Coming Soon...
          </h5>
        </div>
      </div>
    </div>
  </div>
</section>

{{ end }}
