{{ define "main" }}
<section class="mt-5">
  <div class="container mt-5">
    <div class="row justify-content-center mt-5">
      <div class="col-md-10 px-4">
        <div class="my-5">
          <div class="text-center">
            <img
              class="mb-3"
              src="https://res.cloudinary.com/zuzu/image/upload/emoji/fluent/face-with-monocle.webp"
              alt="emoji"
              width="60"
              style="margin: 120px 0 0"
            />
            <h1 class="text-center mb-3 fw-bold" style="line-height: 1.4">
              법인 설립 <br />To-do list
            </h1>
            <h5 class="text-center mb-5 text-muted" style="line-height: 1.6">
              더 이상 막막하지 않아요! <br />기본 정보 설정부터 서류 준비, 설립
              등기 신청까지&nbsp;<br class="lg-only" />필요한 절차가 깔끔하게
              정리되어 있어요.
            </h5>
          </div>
          <div class="card fixed-width mb-5">
            <div class="card-body">
              <h5 class="card-title text-primary mb-2">
                어떤 내용이 담겨 있나요?
              </h5>
              <p class="card-text" style="line-height: 1.5">
                <img
                  src="https://res.cloudinary.com/zuzu-homepage/image/upload/q_auto,f_auto/establish-company/jal6fe9lqzdv3pca8lmj.svg"
                  alt="emoji"
                  width="20"
                />
                법인 설립 시 어떤 정보를 정해야 하는지 <br /><img
                  src="https://res.cloudinary.com/zuzu-homepage/image/upload/q_auto,f_auto/establish-company/jal6fe9lqzdv3pca8lmj.svg"
                  alt="emoji"
                  width="20"
                />
                법인 설립 시 필요한 서류 <br />
                <img
                  src="https://res.cloudinary.com/zuzu-homepage/image/upload/q_auto,f_auto/establish-company/jal6fe9lqzdv3pca8lmj.svg"
                  alt="emoji"
                  width="20"
                />
                법인 설립 등기 신청하는 방법 <br />
                <img
                  src="https://res.cloudinary.com/zuzu-homepage/image/upload/q_auto,f_auto/establish-company/jal6fe9lqzdv3pca8lmj.svg"
                  alt="emoji"
                  width="20"
                />
                법인 설립 후 해야 할 일
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<style>
  .fixed-width {
    max-width: 480px;
    margin: 0 auto;
  }
  @media (max-width: 768px) {
    .fixed-width {
      max-width: 100%;
    }
  }
</style>
{{ end }}
