<footer id="footer">
  <section class="footer bg-body-tertiary py-5">
    <div class="container footer-text">
      <div class="row col-md-10">
        <div>
          <img
            src="https://res.cloudinary.com/hazelsuh-site/image/upload/dfsdf_ufymdk.svg"
            alt="Logo"
            width="auto"
            height="30"
            class="d-inline-block align-text-top me-1"
          />
          <p class="mt-2 mb-0 fw-medium text-muted">
            Made with 🖤 and Iced Earl Grey Milk Tea.
          </p>
          <p class="mb-0">Copyright 2024 © Hazel Suh. All Rights Reserved.</p>
        </div>
      </div>
    </div>
  </section>
</footer>
