<header>
  <nav class="navbar navbar-expand-lg">
    <div class="container justify-content-center">
      <div class="d-flex flex-row my-3">
        <a href="/" class="me-1"
          ><img
            src="https://res.cloudinary.com/hazelsuh-site/image/upload/v1733122024/dfsdf_ufymdk.svg"
            alt="logo"
            width="32"
            class="me-0 me-md-3"
        /></a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNavDropdown"
          aria-controls="navbarNavDropdown"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav">
            <li class="nav-item me-0 me-md-3">
              <a class="nav-link active" aria-current="page" href="/#work"
                >Work</a
              >
            </li>
            {{/*
            <li class="nav-item dropdown me-0 me-md-3">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                Works
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Dunamu ZUZU</a></li>
                <li><a class="dropdown-item" href="#">LF Food Monomart</a></li>
                <li>
                  <a class="dropdown-item" href="#">Something else here</a>
                </li>
              </ul>
            </li>
            */}}
            <li class="nav-item me-0 me-md-3">
              <a class="nav-link active" aria-current="page" href="/about"
                >About</a
              >
            </li>
            {{/*
            <li class="nav-item me-0">
              <a
                class="nav-link"
                href="https://www.linkedin.com/in/hazelsuh/"
                target="_blank"
                >LinkedIn <i class="bi bi-box-arrow-up-right"></i
              ></a>
            </li>
            */}}
          </ul>
        </div>
      </div>
    </div>
  </nav>
</header>
