<section>
  <div class="container">
    <div class="row col-md-10 mb-0 w-100">
      <div class="hero">
        <video autoplay muted loop class="lg-only">
          <source
            src="https://res.cloudinary.com/hazelsuh-site/video/upload/v1733120778/newclayyy_p7famt.mp4"
            type="video/mp4"
          />
          Your browser does not support the video tag.
        </video>
        <div
          class="row col-md-10 content d-flex flex-column flex-md-row align-items-start"
        >
          <div class="col-4">
            <h5
              class="animated-text-2 fw-normal mb-2 text-muted"
              style="margin-left: 3px"
            >
              Product Designer
            </h5>
            <h1
              class="display-4 animated-text-1"
              style="font-weight: 500; letter-spacing: -0.03em"
            >
              Hazel Suh
            </h1>
          </div>
          <div class="col-8">
            <p class="animated-text-2 fw-normal mt-4 text-muted">
              Product Designer with 2+ years of experience. <br />When I’m not
              in Figma, I'm immersing myself in San Francisco’s art scene,
              <br />tending to my plants and ideating on a screenplay.<br />
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
