<div class="hero">
  <video autoplay muted loop>
    <source
      src="https://res.cloudinary.com/hazelsuh-site/video/upload/v1733120778/newclayyy_p7famt.mp4"
      type="video/mp4"
    />
    Your browser does not support the video tag.
  </video>
  <div class="content">
    <h1
      class="display-1 mb-3 animated-text-1"
      style="font-weight: 300; letter-spacing: -0.03em"
    >
      Hi, I'm Hazel Suh
    </h1>
    <h5 class="animated-text-2 fw-normal mb-4 text-muted">
      Product Designer with 2+ years of experience <br />designing for Meta,
      Microsoft and Pivot Design Group. <br />When I’m not in Figma, I'm
      immersing myself in San Francisco’s art scene, <br />tending to my plants
      and ideating on a screenplay.<br />
      I'm looking for my next role!
    </h5>
  </div>
</div>
