<section>
  <div class="container">
    <div class="row col-md-10 mb-0">
      <h2 class="mb-5" style="line-height: 1.4">Selected Works</h2>

      <!-- 첫 번째 행 -->
      <div class="row mb-5 flex-column flex-md-row slide">
        <div class="col-md-4 mb-3 mb-md-0">
          <h5 class="card-title mb-3">Card title</h5>
          <p class="card-text">
            This is a longer card with supporting text below as a natural
            lead-in to additional content. This content is a little bit longer.
          </p>
          <button type="button" class="btn btn-dark">View work</button>
        </div>
        <div class="col-md-8">
          <img
            src="https://res.cloudinary.com/hazelsuh-site/image/upload/v1733208684/238423_zibcwg.png"
            alt="image"
            class="w-100"
            style="border-radius: 16px"
          />
        </div>
      </div>

      <!-- 두 번째 행 -->
      <div class="row mb-5 flex-column flex-md-row slide">
        <div class="col-md-4 mb-3 mb-md-0">
          <h5 class="card-title mb-3">Card title</h5>
          <p class="card-text">
            This is a longer card with supporting text below as a natural
            lead-in to additional content. This content is a little bit longer.
          </p>
          <button type="button" class="btn btn-dark">View work</button>
        </div>
        <div class="col-md-8">
          <img
            src="https://res.cloudinary.com/hazelsuh-site/image/upload/v1733208879/23948_i4hjqv.png"
            alt="image"
            class="w-100"
            style="border-radius: 16px"
          />
        </div>
      </div>

      <!-- 세 번째 행 -->
      <div class="row mb-5 flex-column flex-md-row slide">
        <div class="col-md-4 mb-3 mb-md-0">
          <h5 class="card-title mb-3">Card title</h5>
          <p class="card-text">
            This is a longer card with supporting text below as a natural
            lead-in to additional content. This content is a little bit longer.
          </p>
          <button type="button" class="btn btn-dark">View work</button>
        </div>
        <div class="col-md-8">
          <div class="card">
            <div class="card-body">
              <video
                autoplay
                muted
                loop
                style="width: 100%; border-radius: 8px"
              >
                <source
                  src="https://res.cloudinary.com/hazelsuh-site/video/upload/v1733204234/nweblackdf_vhfdcn.mp4"
                  type="video/mp4"
                />
              </video>

              <p class="card-text">
                This is a longer card with supporting text below as a natural
                lead-in to additional content. This content is a little bit
                longer.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
